[Unit]
Description=GoDaddy DNS Update
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/scripts/gdyDnsUpdate.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
